/* font family work import link*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* commont css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans",'sans';
}

/* shared css */
.container{
    max-width: 1140px;
    margin: 40px auto;
}
.dark-1{
  color: #131313;
}
.dark-3{
    color: #727272;
}
.primary-btn{
    background-color: #FF900E;
}
.flex{
    display: flex;
}
.space-between{
justify-content: space-between;

}
/* header-parent */
.header-parent{
    background-color:#FF900E1A;
    padding: 10px;
    margin: auto 0;
}
/* nav section */
.architects-titile{
   font-size: 2.4rem;
   font-weight: 700;

}
nav{
    align-items: center;
}
nav ul{
    gap: 20px;
    align-items: center;

}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #727272;;
    font-size: 1.1rem;
    
}